*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "New Amsterdam", Arial, Helvetica, sans-serif;

  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
}

header.navbar-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron {
  width: 100%;
  background-image: url("../img/the-1975-bfiafl.jpg");
  background-position: 0 center;
  background-size: cover;
  padding: 50px 20px;
  text-align: center;
  height: 400px;
}

header h1 {
  font-family: "Anton", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 100px;
  color: #001689;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

header p {
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  font-size: 2rem;
}

header.navbar-container .nav-list ul {
  display: flex;
  gap: 3rem;
  padding: 2rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
  font-size: 25px;
}

.nav-list {
  width: 100%;
}

.nav-list li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;

  border-radius: 999px;
  border: 2px solid transparent;

  transition: all 0.2s ease-in-out;
}

.nav-list li:hover a {
  color: #001689;
  border: 2px solid #001689;
}

main {
  flex: 1;

  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 2rem 4rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .content {
  flex: 1;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

main .content .content-beranda {
  display: flex;
}
main .content .content-description {
  flex: 1 1;
}

main .content .content-description .title {
  font-family: "Anton", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: black;
  line-height: 1.5;

  width: 500px;
  margin-block: 1rem;
}

main .content .content-description p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: start;
  line-height: 1.7;

  max-width: 450px;
}

main .content .content-description q {
  font-weight: 600;
  line-height: 2;
}

main .content .content-image {
  display: flex;
  flex: 1;
}

main .content .content-image img {
  width: 200px;
  margin: auto;
}

main .content .platform {
  display: flex;
  flex-direction: column;
}

main .content .button-platform button {
  padding: 1rem 1rem;
  border: 3px solid transparent;
  border-radius: 999px;
  margin-block-start: 0.8rem;
  height: 3.2rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: #001689;

  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: white;

  white-space: nowrap;

  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .button-platform button:hover {
  border: 3px solid #001689;
  background-color: transparent;

  color: #001689;
}

main .content .button-platform {
  display: flex;
}

main .content .music-platform {
  width: 100%;
  display: flex;
}

main .content .music-platform ul {
  display: flex;
  align-items: center;
  margin: 1rem 1.5rem;
  padding: 1rem;
  gap: 1rem;
  margin-block-start: 0.8rem;
}

main .content .music-platform li {
  list-style-type: none;
}

main .content .music-platform li a {
  font-size: 1.5rem;
  color: black;
}

#diskografi {
  margin-top: 100px;
}

.title h1 {
  font-family: "Anton", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px #001689;
  overflow: hidden;
  width: 300px;
  height: 520px;
  text-align: center;
  margin: 50px 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.card:nth-child(odd):hover {
  transform: translatex(-10px);
}

.card:nth-child(even):hover {
  transform: translatex(+10px);
}

.card img {
  padding: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card .card-content h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
}

.card-container .card .card-content .detail-content {
  display: flex;
  padding: 10px;
  gap: 10px;
  font-size: 15px;
}

.detail-content .detail-title {
  width: 100px;
  font-weight: 600;
}

.card-member-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1200px;
}

.card-member {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px #001689;
  overflow: hidden;
  width: 250px;
  height: 280px;
  text-align: center;
  margin: 50px 1rem;
  transition: transform 0.3s ease-in-out;
}

.card-member:hover {
  transform: translatex(-10px);
}

.member-image img {
  padding: 10px;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card-member .member-description h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

/* 

.card .card-content h3 {

  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
}

.card-container .card .card-content .detail-content {
  display: flex;
  padding: 10px;
  gap: 10px;
  font-size: 15px;
}

.detail-content .detail-title {
  width: 100px;
  font-weight: 600;
} */

footer {
  padding: 20px;
  color: white;
  background-color: #001689;
  text-align: center;
  font-weight: bold;
}
